
/* fonts */

.nl-titilliumregular{
    font-family: 'Titillium Regular';
}

.nl-titilliumsemibold{
    font-family: 'Titillium Semibold';
}

.nl-titilliumbold{
    font-family: 'Titillium Bold', arial;
}

.nl-poppinsregular{
    font-family: 'Poppins Regular';
}

.nl-titilliumregularitalic{
    font-family: 'Titillium Regular Italic', arial;
}

/* sizes */

.nl-fontsize12{
    font-size: 12px;
}

.nl-fontsize13{
    font-size: 13px;
}

.nl-fontsize14{
    font-size: 14px;
}

.nl-fontsize15{
    font-size: 15px;
}

.nl-fontsize16{
    font-size: 16px;
}

.nl-fontsize17{
    font-size: 17px;
}

.nl-fontsize20{
    font-size: 20px;
}

.nl-fontsize22{
    font-size: 22px;
}

.nl-fontsize25{
    font-size: 25px;
}

.nl-fontsize28{
    font-size: 28px;
}

.nl-fontsize32{
    font-size: 32px;
}

/* text color */

.nl-whitecolor{
    color: #ffffff;
}

.nl-graycolor-1{
    color: #838383;
}

.nl-graycolor-2{
    color: #a3a3a3;
}

.nl-graycolor-3{
    color: #a6a6a6;
}

.nl-graycolor-4{
    color: #efefef;
}

.nl-graycolor-5{
    color: #868686;
}

.nl-graycolor-6{
    color: #919191;
}

.nl-graycolor-7{
    color: #d0d0d0;
}

.nl-graycolor-8{
    color: #474342;
}

.nl-graycolor-9{
    color: #e4e4e4;
}

.nl-graycolor-10{
    color: #302b29;
}

.nl-graycolor-11{
    color: #e1e1e1;
}

.nl-graycolor-12{
    color: #c1c1c1;
}

.nl-orangecolor{
    color: #ffad5c;
}

.nl-orangecolor-1{
    color: #f5af2b;
}

.nl-orangecolor-2{
    color: #fa9f46;
}

.nl-blackcolor{
    color: black;
}

.nl-redcolor-1{
    color: #db6262;
}

.nl-redcolor-2{
    color: #f31212;
}

.nl-greencolor{
    color: #48bd3c;
}

.nl-greencolor-1{
    color: #69c01c;
}

.nl-bluecolor{
    color: #125cf3;
}

/* back color */

.nl-blackcolor-back{
    color: #ffffff;
    background-color: #000000;
}

.nl-whitecolor-back{
    background-color: #ffffff;
}

.nl-whitecolor-1-back{
    background-color: #f5f5f5;
}

.nl-graycolor-back{
    background-color: #868686;
    border: none;
}

.nl-graycolor-back-box{
    display: inline-block;
    line-height: 1px;
    padding: 12px 22px 12px 22px;
    border-radius: 10px;
    background-color: #f3f3f3;
    height: 100px;
    width: 100px;
}


.nl-coconutcolor-back{
    background-color: #f5eee7;
}

.nl-redcolor-back{
    background-color: #ffc8c8;
}

.nl-orangecolor-back{
    background-color: #fa9f46;
    color: #ffffff;
    border: none;
}

nl-nocolor-back{
    background-color: none;
}

/* * 1 * */

.nl-btnsocial {
    background-color: #1e1e1e;
    border: none;
    padding: 0;
    font-size: 16px;
    height: 23.5px;
    width: 23.5px;
}

.nl-btnsocial:hover {
  background-color: 383838;
}

.nl-link-white{
    color:white;
}

.nl-link-white:hover{
    color: floralwhite;
}

.nl-link-black{
    color:#919191;
}

.nl-link-black:hover{
    color: dimgray;
}

.nl-orangecolor-back:hover{
    background-color: #fa9f33;
    color: #ffffff;
    border: none;
}

.nl-graycolor-back:hover{
    background-color: #868688;
    color: #ffffff;
    border: none;
}

/* * 2 * */

.nl-search{
    border: none;
    background: #f3f3f3;
    border-radius: 15px;
    font-size: 14px;
}

.nl-login{
    border-color: #e4e4e4;
    background: white;
    border-radius: 5px;
    padding: 25px;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #a3a3a3;
    border: none;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #a3a3a3;
    border: none;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: #a3a3a3;
    border: none;
}

input[type="text"] {
    box-shadow:none !important;
    border:2px solid #f3f3f3 !important;
}
    
.nl-btnoptions {
    background-color: white;
    border: none;
    padding: 0;
    height: 23.5px;
    width: 23.5px;
}

.nl-icon{
    color: #faad5c;
    font-size: 20px;
}

.nl-circle{
}

.nl-circle:hover{
    color: #ffad5c;
}

.nl-nav-link-1:hover{
    color: black;
    border-bottom: 4px solid black;
    margin-bottom: -4px;
}

.nl-nav-link-2{
    color: black;
}

.nl-nav-link-2:hover{
    color: #fa9f46;
}

/* line in bottom text */ 

.nl-nav-link-border-2{
    color: black;
}

.nl-nav-link-border-2:hover{
    color: #fa9f46;
}

.nl-nav-link-border-2::after{
    display:block;
    content : "";
    position: relative;
    max-width:30px;
    border-bottom:1px solid #d0d0d0;
    padding:14px 0px 0px 0px;
}

/* **** */

.nl-border-menu{
    border: 2px solid #efefef;
    border-bottom: 5px solid #efefef;
    border-radius: 15px;
}

.nl-border-red{
    border: 1px solid #db6262;
    background-color: #ffc8c8;
    border-radius: 5px;
    text-align:center;
}

.nl-border-topbottom{
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
}

.nl-orangecolor-back:hover{
    color: #f1f1f1;
}

.nl-backimgfoot{
    background-image: url("../img/foot.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nl-line{
    width: 100%;
    height: 1px;
    border: 1px solid #fa9f46;
}

.nl-line-2{
    width: 100%;
    border: 1px solid #e1e1e1;
}

.nl-product{
    border: 1px solid #efefef;
    border-bottom: 5px solid #efefef;
    border-radius: 15px;
}

.nl-productbutton-1{
    border: 1px solid #69c01c;
    background: none;
    color: #69c01c;
}

.nl-productbutton-1:hover{
    border: 1px solid #69c01c;
    background: none;
    color: #69c01c;
}

.nl-productbutton-2{
    border: none;
    background: #c01c3b;
    color: #fff;
}

.nl-productbutton-2:hover{
    border: none;
    background: #c01c3b;
    color: #fff;
}

/* parallax */
 
.nl-paral {
    min-height: 200px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.nl-paralimg {
background-image: url("../img/foot.png");
}

.nl-removebottom{margin-bottom: 0;}